<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://shideshan.top/" class="link" target="_blank">
                my blog</a> |
            <a href="https://github.com/Shideshanxx" class="link" target="_blank">
                GitHub</a> |
            <a href="http://zjutshideshan.cn/music/" class="link" target="_blank">
                vue-music</a> |
            <a href="http://zjutshideshan.cn/sell/" class="link" target="_blank">
                vue-foodDelivery</a>
        </div>
        <p class="copyright">
            Copyright © 2019 lollipoplog.com All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>