<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://gitee.com" class="link" target="_blank">
                码云</a> |
            <a href="https://github.com" class="link" target="_blank">
                GitHub</a> |
            <a href="https://www.zhihu.com" class="link" target="_blank">
                知乎</a> |
            <a href="https://www.csdn.net" class="link" target="_blank">
                CSDN</a>
        </div>
        <p class="copyright">
            Copyright © 2018 lollipoplog.com All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>