<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="Emall，电商，网上商城，数码，手机，服装，食品，书籍">
<meta name="description" content="一个切图仔学习制作的电商网站">
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.lollipoplog.com">
<link rel="dns-prefetch" href="//img.lollipoplog.com">
<script>
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?da3dc3f06eed975508fbb4336b9b523f";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
})();
</script>